# Porta do servidor
PORT=3001

# JWT Secret
JWT_SECRET=seu_jwt_secret_super_seguro_aqui

# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=cursos_plataform

# Ambiente
NODE_ENV=development
